[bumpversion]
current_version = 4.2.0
commit = True
tag = False

[bumpversion:file:meson.build]
search = version: '{current_version}'
replace = version: '{new_version}'

[bumpversion:file:configure.ac]
search = AC_INIT([xraylib],[{current_version}],[Tom.Schoonjans@me.com])
replace = AC_INIT([xraylib],[{new_version}],[Tom.Schoonjans@me.com])

[bumpversion:file:idl/libxrlidl.dlm]
search = VERSION {current_version}
replace = VERSION {new_version}

[bumpversion:file:java/build.gradle.in]
search = version = '{current_version}'
replace = version = '{new_version}'

[bumpversion:file:xraylib.spec]
search = Version: {current_version}
replace = Version: {new_version}

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"
